* {
  box-sizing: border-box;
  transition: background-color ease-in-out 0.4s;
}

*::selection {
  background-color: #666666;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-secondary);
  color: var(--prose-primary);
}

.root-layout {
  @apply h-dvh max-h-dvh overflow-hidden;
  @apply flex flex-col py-5;
  @apply bg-app bg-repeat;
  padding-top: calc(1.25rem + env(safe-area-inset-top));
  padding-bottom: calc(1.25rem + (env(safe-area-inset-bottom) / 2));
  background-color: #64639e;
}

@media (min-width: 640px) {
  .root-layout {
    padding-top: calc(2.5rem + env(safe-area-inset-top));
    padding-bottom: calc(2.5rem + (env(safe-area-inset-bottom) / 2));
  }
}
