* {
  box-sizing: border-box;
  transition: background-color ease-in-out 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-secondary);
  color: var(--prose-primary);
}

.root-layout {
  @apply h-dvh max-h-dvh overflow-hidden;
  @apply flex flex-col py-5 sm:py-10;
  @apply bg-app bg-repeat;
}
