* {
  box-sizing: border-box;
  transition: background-color ease-in-out 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-secondary);
  color: var(--prose-primary);
}

.root-layout {
  @apply h-dvh max-h-dvh overflow-hidden;
  @apply flex flex-col py-5 sm:py-10;
  @apply bg-app bg-repeat;
}

.container-app {
  width: 90%;
}
@media (min-width: 640px) {
  .container-app {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-app {
    max-width: 668px;
  }
}
@media (min-width: 1024px) {
  .container-app {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .container-app {
    max-width: 1180px;
  }
}
@media (min-width: 1536px) {
  .container-app {
    max-width: 1436px;
  }
}

.border-app {
  position: relative;
  outline: 3px solid #262626;
}

.border-app::before,
.border-app::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.border-app::before {
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
}

.border-app::after {
  border-right: 3px solid #26262666;
  border-bottom: 3px solid #26262666;
}
