@import "./base/reset.css";
@import "./base/palette.light.css";
@import "./base/palette.dark.css";

@import "./components/typography.css";
@import "./components/scrollbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrainsMono";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}

* {
  font-family: JetBrainsMono !important;
}

.container-app {
  width: 90%;
}
@media (min-width: 640px) {
  .container-app {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-app {
    max-width: 668px;
  }
}
@media (min-width: 1024px) {
  .container-app {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .container-app {
    max-width: 1180px;
  }
}
@media (min-width: 1536px) {
  .container-app {
    max-width: 1436px;
  }
}

.border-app {
  position: relative;
  outline: 3px solid #262626;
}

.border-app::before,
.border-app::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
}

.border-app::before {
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
}

.border-app::after {
  border-right: 3px solid #26262666;
  border-bottom: 3px solid #26262666;
}

.btn-app {
  transition-duration: 0s !important;
  user-select: none;
  cursor: pointer;
}

.btn-app:hover {
  background-color: #aaaaaa;
}

.btn-app:active {
  background-color: #666666;
  color: #ffffff;
}
