@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: overlay;
  overflow-x: hidden;
  #__next {
    width: 100% !important;
    max-width: 1200px !important;
    height: 100% !important;
  }
}

.stroked-text-black {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.stroked-text-white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}